POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb

DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/mydb
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXTAUTH_SECRET=some-random-secret
NEXTAUTH_URL=http://localhost:3000
